*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    box-sizing: border-box;
}

body{
    background-color:#201b2c ;
}

div.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section div img{
    margin: 0 4px;
    width: 100px;
}

nav{
    margin: 0 40px;
    
}

nav ul a{
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

header div{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

header div p{
    color: #fff;
}

header div img{
    width: 150px;
    margin-bottom: 8px;
}