*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    box-sizing: border-box;
}

body{
    background-color:#201b2c ;
}

div.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section div img{
    margin: 0 4px;
    width: 100px;
}

nav{
    margin: 0 40px;
    
}

nav ul a{
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

main{
    display: flex;
    align-items: center;
    gap: 100px;
}

.perfil{
    
    margin-top: 40px;
    margin-left: 40px;
}

div .perfil, p{
    display: flex;
    justify-content: center;
    color: #fff;
}

.titleH2{
    color: #fff;
}

div.add-player{
    margin-bottom: 10px;
    border: 1px solid #2f2841;
    padding: 25px;
    border-radius: 5px;
    background-color: #2f2841;
}

input#btnPlayer,
#btnRemove{
    border: none;
    padding: 1px 5px;
    margin: 3px;
    border-radius: 2px;
    background-color: #00ff88;
    cursor: pointer;
    transition: 0.2s;
}

input#btnPlayer:hover{
    transform: scale(1.05);
}

input#btnRemove:hover{
    transform: scale(1.05);
}

.tabela{
    display: flex;
    flex-direction: column;
}

.nome_time{
    color: #fff;
    margin-bottom: 5px;
}

table{
    border: 1px solid #2f2841;
    border-radius: 5px;
    background-color: #2f2841;
    color: #00ff88;
    
}

#tbody{
    color: #fff;
}

.center{
    text-align: center;
}

.micon{
    margin: 0 5px 0 0 ;
}